#botaoDeLogin, .botao {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-style: none;
  outline: 0;
}
#botaoDeLogin h3,
.botao h3 {
  color: #fff !important;
}

/* Botoes de Cadastro e Excluir */
.botoes,
.botoesDeCadastro,
.botoesDeEdicao {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.botaoDeCadastro {
  background-color: #39A048;
}
.botaoDeExcluir {
  background-color: #FF4040;
}

.botaoDeCadastro,
.botaoDeExcluir {
  width: 15vw;
  min-width: 200px !important;
  height: 50px !important;
  cursor: pointer;
}

.dividerBotoes {
  height: none;
  width: 4vw;
  min-width: 25px !important;
}