.inputEstilizado {
  display: flex;
  background-color: #fff;
  color: #000;

  font-weight: medium;
  padding-left: 25px !important;
  
  outline: 0;
  border-style: none;
}

.inputEstilizado::placeholder {
  color: #8ea591;
}

/* .inputEstilizado:valid {
  border: 2px solid green;
} */